<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Отзывы на NAME</title>
    <link rel="stylesheet" th:href="@{/styles.css}" type="text/css"/>
</head>
<body>
<header class="page_top">
    <div class="page_top_left">
        <h1>Пинокоиск</h1>
    </div>
    <div class="page_top_middle">
        <a th:href="@{/static}">Главная</a>
        <a th:href="@{/movies}">Фильмы</a>
        <a th:href="@{/series}">Сериалы</a>
        <a th:href="@{/templates/collections}">Подборки</a>
        <a th:href="@{/persons/all}">Персоны</a>
        <a th:href="@{/search}">Поиск</a>
    </div>
    <div class="page_top_right">
        <div class="not_authenticated">
            <a href="#authentication">Войти</a>
            <a href="#registration">Зарегистрироваться</a>
        </div>
        <br>
        <div class="authenticated" hidden>
            <p>Добро пожаловать, <a href="#user">%username!</a></p>
            <a href="#exit">Выйти</a>
        </div>
    </div>
</header>
<div id="page_body">
    <div id="Header">
        <h1 th:text="'Рецензии на '+ ${type} + ' ' + ${name} + ':'">REVIEWS</h1>
    </div>
    <div id="user_reviews" style="width: 45%; float: left; margin-left: 15px">
        <div th:each ="userReview : ${userReviews}">
            <div th:if ="${userReview.review != null}">
                <h3 th:text="${userReview.username}"> USER NAME</h3>
                <p>Пользователь</p>
                <p>Оценка: <span th:text="${userReview.rating}">NUMBER</span>/10</p>
                <div th:if="${userReview.review.header != null}" >
                    <h4 th:text="${userReview.review.header}">REVIEW HEADER</h4>
                </div>
                <div th:unless="${userReview.review.header != null}">
                    <h4>Без заголовка</h4>
                </div>
                <text th:text="${userReview.review.body}">LONG BODY</text>
            </div>
        </div>
    </div>
    <div id="critic_reviews" style="width: 45%; float: right; margin-right: 15px">
        <div th:each ="criticReview : ${criticReviews}">
            <div th:if ="${criticReview.review != null}">
                <h3 th:text="${criticReview.username}"> USER NAME</h3>
                <p>Критик</p>
                <p>Оценка: <span th:text="${criticReview.rating}">NUMBER</span>/10</p>
                <div th:if="${criticReview.review.header != null}" >
                    <h4 th:text="${criticReview.review.header}">REVIEW HEADER</h4>
                </div>
                <div th:unless="${criticReview.review.header != null}">
                    <h4>Без заголовка</h4>
                </div>
                <text th:text="${criticReview.review.body}">LONG BODY</text>
            </div>
        </div>
    </div>
</div>
</body>
</html>