<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Подборки фильмов/сериалов</title>
    <link rel="stylesheet" th:href="@{/styles.css}" type="text/css"/>
    <style>
        .collapsible {
            background-color: #B3AD54ED;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

        .active, .collapsible:hover {
            background-color: #BEB926ED;
        }

        .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
        }
    </style>
</head>

<body>
<header class="page_top">
    <div class="page_top_left">
        <h1>Пинокоиск</h1>
    </div>
    <div class="page_top_middle">
        <!--                TODO::Логика для кнопки сериалы/фильмы-->
        <a th:href="@{/}">Главная</a>
        <a th:href="@{/movies}">Фильмы</a>
        <a th:href="@{/series}">Сериалы</a>
        <a class="active" th:href="@{/collections}">Подборки </a>
        <a th:href="@{/persons/all}">Персоны</a>
        <a th:href="@{/search}">Поиск</a>
    </div>
    <div class="page_top_right">
        <div class="not_authenticated">
            <a href="#authentication">Войти</a>
            <a href="#registration">Зарегистрироваться</a>
        </div>
        <br>
        <div class="authenticated" hidden>
            <p>Добро пожаловать, <a href="#user">%username!</a></p>
            <a href="#exit">Выйти</a>
        </div>
    </div>
</header>

<div id="page_body" style="margin-left: 15px; margin-right: 15px">
    <h1>Подборки фильмов</h1>
    <div id="collection_m" style="margin-left: 15px; margin-right: 15px">
        <button class="collapsible" type="button">Подборки по жанрам:</button>
        <div class="content" style="margin-left: 15px">
            <div th:each="genre : ${genres}">
                <a th:href="@{/collections/movies/genre(id=${genre.key})}" th:text="${genre.value}">GENRE NAME</a>
                <br>
            </div>
        </div>
        <button class="collapsible" type="button">Подборки по сервисам онлайн-стримингов:</button>
        <div class="content" style="margin-left: 15px; margin-right: 15px">
            <div th:each="streaming : ${streamings}">
                <a th:href="@{/collections/movies/streaming(id=${streaming.key})}" th:text="${streaming.value}">STREAMING
                    NAME</a>
                <br>
            </div>
        </div>
        <button class="collapsible" type="button">Подборки по возрастным ограничениям:</button>
        <div class="content" style="margin-left: 15px; margin-right: 15px">
            <div th:each="restriction : ${age_restrictions}">
                <a th:href="@{/collections/movies/restrictions(id=${restriction.key})}" th:text="${restriction.value}">STREAMING
                    NAME</a>
                <br>
            </div>
        </div>
    </div>
    <h1>Подборки сериалов</h1>
    <div id="collection_s" style="margin-left: 15px; margin-right: 15px">
        <button class="collapsible" type="button">Подборки по жанрам:</button>
        <div class="content" style="margin-left: 15px">
            <div th:each="genre : ${genres}">
                <a th:href="@{/collections/series/genre(id=${genre.key})}" th:text="${genre.value}">GENRE NAME</a>
                <br>
            </div>
        </div>
        <button class="collapsible" type="button">Подборки по сервисам онлайн-стримингов:</button>
        <div class="content" style="margin-left: 15px; margin-right: 15px">
            <div th:each="streaming : ${streamings}">
                <a th:href="@{/collections/series/streaming(id=${streaming.key})}" th:text="${streaming.value}">STREAMING
                    NAME</a>
                <br>
            </div>
        </div>
        <button class="collapsible" type="button">Подборки по возрастным ограничениям:</button>
        <div class="content" style="margin-left: 15px; margin-right: 15px">
            <div th:each="restriction : ${age_restrictions}">
                <a th:href="@{/collections/series/restrictions(id=${restriction.key})}" th:text="${restriction.value}">STREAMING
                    NAME</a>
                <br>
            </div>
        </div>
    </div>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>

</div>
</body>
</html>