<!--TODO: ДОДЕЛАТЬ-->
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список NAME</title>
    <link rel="stylesheet" th:href="@{/styles.css}" type="text/css"/>
</head>

<body>
<header class="page_top">
    <div class="page_top_left">
        <div>
            <h1>Пинокоиск</h1>
        </div>
        <div class="page_top_middle">
            <!--                TODO::Логика для кнопки сериалы/фильмы-->
            <a th:href="@{/}">Главная</a>
            <a th:href="@{/movies}">Фильмы</a>
            <a class="active" th:href="@{/series}">Сериалы</a>
            <a th:href="@{/collections}">Подборки</a>
            <a th:href="@{/persons/all}">Персоны</a>
            <a th:href="@{/search}">Поиск</a>
        </div>
        <div class="page_top_right">
            <div class="not_authenticated">
                <a href="#authentication">Войти</a>
                <a href="#registration">Зарегистрироваться</a>
            </div>
            <br>
            <div class="authenticated" hidden>
                <h3>Добро пожаловать, <a href="#user">%username!</a></h3>
                <a href="#exit">Выйти</a>
            </div>
        </div>
    </div>
</header>

<div id="page_body">
    <h1 th:text="${header}">Список сериалов</h1>

    <div style="margin-left: 15px;" th:if="${#lists.isEmpty(series)}">
        <h2>Сейчас тут пусто, но обязательно что-то появится!</h2>
    </div>
    <div style="margin-left: 15px; margin-bottom: 15px; background:white" th:each="one_series: ${series}"
         th:if="${! #lists.isEmpty(series)}">
        <p th:text="${one_series.name}">NAME</p>
        <p th:text="${one_series.originalName}">NAME</p>
        <div>
            <div th:if="${userRatings.get(one_series.id) == null}">
                <p>Оценок пользователей нет</p>
            </div>
            <div th:unless="${userRatings.get(one_series.id)} == null">
                <p>Рейтинг пользователей: <span th:text="${userRatings.get(one_series.id).avgRate}">AVG USER RATING</span>
                    , всего оценок: <span th:text="${userRatings.get(one_series.id).count}">USER REVIEWS COUNT</span></p>
            </div>
            <div th:if="${criticRatings.get(one_series.id) == null}">
                <p>Оценок критиков нет</p>
            </div>
            <div th:unless="${criticRatings.get(one_series.id) == null}">
                <p>Рейтинг критиков: <span th:text="${criticRatings.get(one_series.id).avgRate}"> AVG CRITICS RATING</span>
                    , всего оценок: <span th:text="${criticRatings.get(one_series.id).count}">CRITIC REVIEWS COUNT</span></p>
            </div>
            <div th:if="${allRatings.get(one_series.id) != null}">
                <p>Общий рейтинг: <span th:text="${allRatings.get(one_series.id).avgRate}">AVG RATING</span>, всего оценок:
                    <span th:text="${allRatings.get(one_series.id).count}"> AVG COUNT</span></p>
            </div>
        </div>
        <a th:href="@{/series/{id}(id=${one_series.id})}">Подробности</a>
    </div>
</div>
</body>
</html>